@model OneToMany.Models.Department

<form asp-action="Create">
    <div>
        <label>Department Name</label>
        <input asp-for="DeptName" />
    </div>

    <button type="submit">Save</button>
</form>