@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

@model List<MVC2.Models.Student>
<h2>Student Table</h2>

<table border="1">
    <tr>
        <th>Name</th>
        <th>Age</th>
        <th>City</th>
        <th>Age^2</th>
    </tr>

    @foreach (var s in Model)
    {
        <tr>
            <td>@s.Name</td>
            <td>@s.Age</td>
            <td>@s.City</td>
            <td>@s.AgeSquare</td>
        </tr>
    }
</table>
